[submodule "vendor/meson"]
	path = vendor/meson
	url = git@github.com:rgommers/meson.git
	branch = master
[submodule "vendor/meson-python"]
	path = vendor/meson-python
	url = git@github.com:rgommers/meson-python.git
	branch = vsenv-auto-arch
