[project]
name = "test-mesonpy-vsenv"
version = "0.1.0"
description = "Test repository for MSVC support in meson-python"
channels = ["conda-forge"]
platforms = ["win-64", "osx-arm64", "linux-64"]

[dependencies]
python = ">=3.9"
python-build = ">=1.0"
packaging = ">=23.2"
pyproject-metadata = ">=0.9.0"
ninja = ">=1.11"
compilers = "*"
pip = "*"
pytest = ">=6.0"

[tasks]
build = "python -m build -wnx"
test = { cmd = "pytest tests -v", depends-on = ["install"] }
install = { cmd = "python -m pip install --force-reinstall --no-deps --find-links dist testpkg", depends-on = ["build"] }
clean = "rm -rf build dist .mesonpy-* *.egg-info"
